.user-cabinet-header {
    font-size: 20px;
}
.site-header {
    border-bottom: 1px solid #26a69a;
    padding: 25px 0;
}
.site-title {
    font-size: 24px;
    margin: 0;
}

.modal-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-project {
    position: relative;
    width: 250px;
    /* height: 320px; */
    border: 1px solid #26a69a;
    border-radius: 12px;
    box-shadow: 1px 1px 10px #1d1d1d;
    padding: 10px;
    background: white;
}

.modal-project-close {
    position: absolute;
    right: -15px;
    top: -15px;
}

.form-slider {
    width: 700px;
    height: 340px;
    margin-left: 0;
    transition: all ease 1s;
}

.left-50, .right-50 {
    width: 50%;
    float: left;
    min-height: 50px;
    padding: 10px;
}

.right-50 {
    min-height: 50px;
    max-height: 430px;
    overflow-y: scroll;
}

.read-rules, .read-rules-back {
    cursor: pointer;
    color: #26a69a;
    font-weight: bold;
}

.read-rules-back:hover, .read-rules:hover {
    color: #1F75FE;
    transition: 2s;
}

.sign-up-modal {
    width: 370px;
    
}

.form-slider-wrapper {
    overflow: hidden;
}
